
* {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #494949;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.navbar {
    margin: 0;
    border-bottom: 1px solid #e4e4e4 !important;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1) !important;
    height: 60px !important;
}
.logo {
    float: left;
    margin: 15px 0 0 20px;
    min-width: 50px;
    height: 50px;
    text-decoration: none;

}

.navbar-link-container {
    position: relative;
    float: right;
}





.sign-up {
    border-right: solid #e4e4e4 1px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
}

li {
    position: relative;
    top: 50%;
    transform: translateY(50%);
    display: inline-block;
    margin-right: 1px;
}

li a {
    display: block;
    height: 25px;
    text-align: center;
    text-decoration: none;
    min-width: 140px;
    padding: 5px;
}

li:hover ul a:hover {
    background: #19c589 !important;
    color: #ffffff;
}

li:hover ul a {
    background-color: #ffffff !important;
    border: 1px solid #DBDBDB !important;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1) !important;
    display: flex;
    align-items: center;
    justify-content: center;
 
}

li ul {
    display: none;
}

li ul li {
    /* display: block;
    float: none; */
}


ul li a:hover + .hidden, .hidden:hover {
    display: block;
} 


.hosting-standards {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
}
p:first-child {
    font-size: 50px;
    margin-bottom: 20px;
}

p:nth-child(2) {
    font-size: 25px;
}

.checkbox, .checkbox-label {
    margin-top: 60px;
}

.checkbox-label {
    margin-left: 13px;
}

.checkbox-btn {
    display: block;
    font-size: 20px;
    width: 140px;
    height: 50px;
    background-color: transparent;
    color: #494949;
    border: 2px solid #19c589;
    border-radius: 10px;
    box-shadow: none;
    position: relative;
    top: 75%;
    transform: translateY(75%)
}

.checkbox-btn:hover {
    cursor: pointer;
    background-color: #19c589;
    color: white;
    
}